@import "../../index";

.related__products {
  padding-top: 2rem;
  border-top: 1px solid $GreyColor;

  .title {
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .product__layout--two {
    padding: 0 1rem;
    border-right: 1px solid $GreyColor;

    .image__wrapper {
      border: 0;
      border-radius: 0;

      img {
        height: 12rem;
      }

      .icons__wrapper {
        box-shadow: none;
      }
    }
  }
}
